@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 20px;
  width: 100%;
  height: 100vh;
}

ul{
  list-style: none;
}
.left, .right{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.left{
  background: #B3B4AF;
  left: 0%;
  width: 0%;
}
.right{
  background-color: #191921;
  right: 0%;
  width: 100%;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}
.nav ul li{
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  padding: 0 30px;
  font-weight: 600;
}
.nav .logo {
  flex: 1;
  font-size: 18px;
  letter-spacing: 0;
}
.nav .menu {
  flex: 1;
  font-size: 18px;
}
.nav .collection {
  flex: 1;
}
.nav .explore {
  flex: 4;
}
.nav .search {
  flex: 3;
}
.nav .profile {
  flex: 0;
}
.nav .profile .img{
  background-image: url('./img/profile.jpg');
  background-position: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.img-wrapper{
  position: absolute;
  bottom: 0;
  left: 180px;
}
.img-wrapper .karina{
  background-image: url('./img/karina.jpg');
  background-size: cover;
  height: 750px;
  width: 0;
}

.info{
  position: absolute;
  bottom: 0;
  left: 180px;
  background:rgba(0, 0, 0, .8);
  padding: 0 10px;
}
.info ul li{
  display: inline-block;
  padding: 20px 25px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 600;
}
.info i{
  font-size: 25px;
}


.text{
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}
.text h1{
  font-size: 200px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}
.text p{
  font-size: 25px;
  color: white;
}
.name{
  position: absolute;
  left: -300px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.bottomnav{
  position: absolute;
  bottom: 100px;
  right: 100px;
}
.bottomnav ul li{
  color: white;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 25px;
}